#title{

    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(techBackgroundImage.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
    font-family: "Open Sans";
    font-size: 36px;
    margin-bottom: 5%;
}

#text-speech{

    background-color: #274b52;
    margin-left: 12.5%;
    margin-right: 12.5%;
    text-align: center;
}

#listen{

    color: white;
}

#header{

    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(HoldingGlobe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: "Open Sans";
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.top-heading{

    color:white;
 }

 .text-content{

    color:#2e6974;
    margin-left: 12.5%;
    margin-right: 12.5%;
 }

 h4{

    font-weight: bold;
 }

 p{

    line-height: 30px;
 }

 #module{

    color: black;
    font-size: 45px;
 }

 #objectives{

    color: black;
    font-size: 25px;
 }

 hr{

    margin-left: 12.5%;
    margin-right: 12.5%;
 }

 div{

    margin-left: 12.5%;
    margin-right: 12.5%;
 }

 .values{

    float: left;
 }

 #values-text{

    width: 20%;
    color:#2e6974
 }

 #mission{

    text-align: center;
 }